article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;}
::-moz-selection{background:#ED7B61;text-shadow:none;color:#fff;}
::selection{background:#ED7B61;text-shadow:none;color:#fff;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
img{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:100%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
body{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-weight:300;font-size:14px;}
header{border-bottom:1px solid #eee;margin:0 1em 2em 1em;}
.content footer{border-top:1px solid #eee;margin-top:2em;padding-top:1em;}.content footer p{font-size:0.7em;color:#999;margin:0.5em 0;line-height:1em;text-transform:uppercase;}
.wrapper{width:840px;margin:3em auto;}
.sidebar{width:220px;float:left;margin-left:1em;}
.content{width:580px;float:right;margin-right:1em;}
a{color:#349DC7;text-decoration:none;}a:visited{color:#92A6AD;}
a:hover{text-decoration:underline;color:#66D0FA;}
.sidebar>ul{list-style-type:none;margin:0;padding:0;}.sidebar>ul ul{list-style-type:none;margin:1em 0;padding:0 0 0 1.5em;}.sidebar>ul ul li{margin:0.3em 0;}
.content h1:first-child{line-height:1em;margin:0 0 1em 0;}
.content p{line-height:1.6em;color:#444;margin:1.5em 0;}.content p code{background-color:#eee;padding:0.2em 0.5em;font-family:Monaco,Consolas,"Lucida Console",monospace;font-size:0.85em;-webkit-box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);}
.content ul ul{margin:0.1em 0px;}
.content li>code{color:#349DC7;padding:0.2em 0.5em;font-family:Monaco,Consolas,"Lucida Console",monospace;font-size:0.85em;}
.content blockquote{display:block;margin:2em auto;padding:1em;background-color:#C1D2DE;font-size:0.9em;border:1px solid #A3B4BF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;}.content blockquote p{color:#4D5A63;margin:0;}.content blockquote p code{background-color:#A3B4BF;color:#fff;-webkit-box-shadow:2px 2px 0 #7d97a8;-moz-box-shadow:2px 2px 0 #7d97a8;box-shadow:2px 2px 0 #7d97a8;}
.content table{width:100%;}.content table th,.content table td{padding:0.5em;border:1px solid #666;font-size:0.9em;}
.content table th{background-color:#666;color:#eee;text-align:left;}
.content table td{border:1px solid #666;}.content table td code{font-size:0.8em;display:block;padding:0.5em 1em;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;}
.content table tr td:first-child{background-color:#333;color:#fff;}
.prettyprint{font-family:Monaco,Consolas,"Lucida Console",monospace;background-color:#333;padding:1.5em;font-size:0.85em;border:0;color:#e9e4e5;line-height:1.9em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;}.prettyprint .pln{color:#e9e4e5;}
.prettyprint .str{color:#bcd42a;}
.prettyprint .kwd{color:#4bb1b1;}
.prettyprint .com{color:#888888;}
.prettyprint .typ{color:#ef7c61;}
.prettyprint .lit{color:#bcd42a;}
.prettyprint .pun,.prettyprint .opn,.prettyprint .clo{color:#ffffff;}
.prettyprint .tag{color:#4bb1b1;}
.prettyprint .atn{color:#ef7c61;}
.prettyprint .atv{color:#bcd42a;}
.prettyprint .dec,.prettyprint .var{color:#660066;}
.prettyprint .fun{color:#ff0000;}
.prettyprint code{font-family:Monaco,Consolas,"Lucida Console",monospace;}
.contribute{background-color:#F0F7FA;border:1px solid #C4E7F5;padding:1em;line-height:1.6em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
