<!doctype html>
<html>
   <head>
      <meta charset="utf-8">

      <title>Orchestra Platform Discussion</title>

      <!-- (1) Optimize for mobile versions -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- (1) force latest IE rendering engine -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <!-- (1) Moot look and feel -->
      <link rel="stylesheet" href="https://cdn.moot.it/1/moot.css">

      <!-- (4) Custom CSS -->
      <style>
      body {
         font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
         margin: 0; padding: 0;
      }

      .moot {
         font-size: 18px;
      }
      </style>

      <!-- (1) Moot depends on jQuery v1.7 or greater -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

      <!-- (1) Moot client application -->
      <script src="https://cdn.moot.it/1/moot.min.js"></script>
   </head>

   <body>

      <!-- (2) Placeholder for the forum. The forum will be rendered inside this element -->
      <a class="moot" href="https://moot.it/i/orchestraplatform"></a>

      <!--
         (2) Example tag for commenting, put it on a different page
         <a class="moot" href="https://moot.it/i/orchestraplatform forums/blog#my-blog-entry"></a>

         (2) Example tag for threaded commenting
         <a class="moot" href="https://moot.it/i/orchestraplatform forums/blog/my-large-blog-entry"></a>

         Moot paths are awesome: https://moot.it/docs/?orchestraplatform forums#path
      -->

   </body>
</html>
